name: Asciidoctor Build Handbook en

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: false

env:
  REVISION: 1.0.0

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: List files to check if documentation/user_manuals/en/index.adoc exists
        run: ls -l documentation/user_manuals/en/

      - name: Run asciidoctor on index.adoc
        run: asciidoctor documentation/user_manuals/en/index.adoc
            
  pages:
    runs-on: ubuntu-latest
    container:
      image: asciidoctor/docker-asciidoctor:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build HTML and PDF docs
        run: |
          asciidoctor -a revnumber=$REVISION \
          -D documentation/user_manuals/en/ \
          -o Handbook_EN_${REVISION}.html documentation/user_manuals/en/index.adocdocumentation/user_manuals/en/index.adoc
          asciidoctor-pdf -a revnumber=$REVISION \
          -D documentation/user_manuals/en/ -a pdf-theme=CGS -a pdf-themesdir=documentation/user_manuals/themes \
          -o Handbook_EN_${REVISION}.pdf documentation/user_manuals/en/index.adoc

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: Handbook_EN
          path: |
            documentation/user_manuals/en/Handbuch_DE_*.pdf
            documentation/user_manuals/en/Handbuch_DE_*.html
          
